<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Головна сторінка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: myheader"></header>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1> REST service</h1>
            <h3>Використані технології: Spring boot, Postgresql</h3>
</main>
<div th:insert="Blocks/footer :: footer"></div>
</body>
</html>