<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: myheader"></header>
<div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.name}"/>
        <p th:text="${el.firstName}"/>
        <p th:text="${el.lastName}"/>
        <p th:text="${el.age}"/>
        <p th:text="${el.super_power}"/>
        <a th:href=" '/superhero/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
            <form th:action="'/superhero/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-warning" type="submit">Remove</button><br><br><br>
                <a th:href=" '/superhero/' + ${el.id} + '/friends'" class="btn btn-warning">Friends</a><br><br>
                <a th:href=" '/superhero/' + ${el.id} + '/enemies'" class="btn btn-warning">Enemies</a><br><br>
             </form>

    </div>
</div>
<div th:insert="Blocks/footer :: footer"></div>
</body>
</html>