<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: myheader"></header>
<div class="container mt-5 mb-5">
    <H1>Edit superhero</H1>
           <div th:each="el : ${post}">
                <form  method="post">

                    <input type="text" th:value="${el.name}" name="name" placeholder="Enter a heroic name" class="form-control"><br>
                    <input type="text" th:value="${el.firstName}" name="firstName" placeholder="Enter firstName" class="form-control"><br>
                    <input type="text" th:value="${el.lastName}" name="lastName" placeholder="Enter lasttName" class="form-control"><br>
                    <input type="text" th:value="${el.age}" name="age" placeholder="Enter age" class="form-control"><br>
                    <input type="text" th:value="${el.super_power}" name="super_power" placeholder="Enter super power" class="form-control"><br>

                    <button type="submit" class="btn btn-success">Update</button><br>
                </form>>
           </div>
</div>
<div th:insert="Blocks/footer :: footer"></div>
</body>
</html>